@page
@using IEEE_EMB.Models.Utilities
@model IEEE_EMB.Pages.Admin.AddMemberModel
@{
}
@{
    Layout = "~/Pages/Shared/DashLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Add Member Form -->
    <div class="mb-4">
        <h5 class="mb-0">Add Member</h5>
    </div>

    <div class="card">
        <div class="card-body">
            <form method="post">
                <!-- SSN -->
                <div class="form-group">
                    <label for="SSN" class="control-label">SSN</label>
                    <input asp-for="@Model.member.SSN" type="text" class="form-control" />
                    <span className="text-red-500 text-sm mt-1" asp-validation-for="member.SSN"></span>
                </div>
                <!-- Name -->
                <div class="form-group">
                    <label for="Name" class="control-label">Name</label>
                    <input asp-for="@Model.member.Name" type="text" class="form-control" />
                    <span className="text-red-500 text-sm mt-1" asp-validation-for="member.Name"></span>
                </div>
                    
                <!-- Email -->
                <div class="form-group">
                    <label for="Email" class="control-label">Email</label>
                    <input asp-for ="@Model.member.Email" type="email" class="form-control" />
                    <span className="text-red-500 text-sm mt-1" asp-validation-for="member.Email"></span>
                </div>

                <!-- Password -->
                <div class="form-group">
                    <label for="Password" class="control-label">Password</label>
                    <input asp-for="@Model.member.password" type="password" class="form-control" />
                    <span className="text-red-500 text-sm mt-1" asp-validation-for="member.password"></span>
                </div>

                <!-- University -->
                <div class="form-group">
                    <label for="University" class="control-label">University</label>
                    <input asp-for="@Model.member.University" type="text" class="form-control" />
                    <span className="text-red-500 text-sm mt-1" asp-validation-for="member.University"></span>
                </div>

                <!-- Major -->
                <div class="form-group">
                    <label for="Major" class="control-label">Major</label>
                    <input asp-for="@Model.member.Major" type="text" class="form-control" />
                    <span className="text-red-500 text-sm mt-1" asp-validation-for="member.Major"></span>
                </div>

                <!-- Current Year -->
                <div class="form-group">
                    <label for="CurrentYear" class="control-label">Current Year</label>
                    <input asp-for="@Model.member.Currentyear" type="text" class="form-control" />
                    <span className="text-red-500 text-sm mt-1" asp-validation-for="member.Currentyear"></span>
                </div>

                <!-- Phone Number -->
                <div class="form-group">
                    <label for="PhoneNumber" class="control-label">Phone Number</label>
                    <input asp-for="@Model.member.Phone" type="text" class="form-control" />
                    <span className="text-red-500 text-sm mt-1" asp-validation-for="member.Phone"></span>
                </div>

                <!-- Previous Experience -->
                <div class="form-group">
                    <label for="PreviousExperience" class="control-label">Previous Experience</label>
                    <textarea asp-for="@Model.member.PreviousExperience" class="form-control"></textarea>
                    <span className="text-red-500 text-sm mt-1" asp-validation-for="member.PreviousExperience"></span>
                </div>
                <!-- Brief -->
                <div class="form-group">
                    <label for="Brief" class="control-label">Brief</label>
                    <textarea asp-for="@Model.member.Brief" class="form-control"></textarea>
                    <span className="text-red-500 text-sm mt-1" asp-validation-for="member.Brief"></span>
                </div>

                <!-- Status -->
                <div class="form-group">
                    <label for="Status" class="control-label">Status</label>
                    <select asp-for="@Model.member.status" class="form-control">
                        <option value="">Select Status</option>
                        <option value="@Status.Approved">Approved</option>
                        <option value="@Status.Waiting">Waiting</option>
                    </select>
                </div>

                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary">Save Changes</button>

                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
