@page
@model IEEE_EMB.Pages.Admin.AddMentorModel
@{
}
@{
    Layout = "~/Pages/Shared/DashLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Add Mentor Form -->
    <div class="mb-4">
        <h5 class="mb-0">Add Mentor</h5>
    </div>

    <div class="card">
        <div class="card-body">
            <form method="post">
                <!-- SSN -->
                <div class="form-group">
                
                    <label for="SSN" class="control-label">SSN</label>
                    <input asp-for="@Model.mentor.SSN" type ="text" class="form-control" />
                </div>
                <!-- Name -->
                <div class="form-group">
                    <label for="Name" class="control-label">Name</label>
                    <input type = "text" asp-for="@Model.mentor.Name" class="form-control" />
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label for="Email" class="control-label">Email</label>
                    <input asp-for="@Model.mentor.Email" type="email" class="form-control" />
                </div>
                <!-- Phone Number -->
                <div class="form-group">
                    <label for="PhoneNumber" class="control-label">Phone Number</label>
                    <input asp-for="@Model.mentor.Phone" type="text" class="form-control" />
                </div>
                <!-- Password -->
                <div class="form-group">
                    <label for="Password" class="control-label">Password</label>
                    <input asp-for="@Model.mentor.Password" type="password" class="form-control" />
                </div>

                <!-- Education -->
                <div class="form-group">
                    <label for="Education" class="control-label">Education</label>
                    <input asp-for="@Model.mentor.Education" class="form-control" />
                </div>

                <!-- Bio -->
                <div class="form-group">
                    <label for="Bio" class="control-label">Bio</label>
                    <textarea asp-for="@Model.mentor.BIO" class="form-control"></textarea>
                </div>

                <!-- CV -->
                <div class="form-group">
                    <label for="CV" class="control-label">CV</label>
                    <input asp-for="@Model.mentor.CV" type="file" class="form-control" />
                </div>

              

                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary">Save Changes</button>

                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
