

@page
@model IEEE_EMB.Pages.ProfileModel
@{
    ViewData["Title"] = $"{Model.Name}'s Profile";
}

@section Styles{
    <link rel="stylesheet" href="~/css/profile.css" />
}

<div class="profile-container">
    <main class="profile-content">
        <h2 class="profile-title">@Model.Name's Profile</h2>
        
        <div class="profile-grid">
            <div class="profile-left">
                <div>
                    <img src="/images/User.png" alt="Profile picture" width="200" height="200" style="margin-bottom: 20px; margin-left: 20px;"/>
                </div>
                
              @*   <form method="post" enctype="multipart/form-data"> 
                    <input asp-for="Photo" type="file"/>
                    <button>Upload Photo</button>
                    </form>
                 *@
                
                    <div class="info-item">
                        <label>Full Name:</label>
                        <span>@Model.Name</span>
                        
                    </div>
                    
                    <div class="detail-item">
                        <label>Email:</label>
                        <span>@Model.Email</span>
                       
                    </div>
                    
                    <div class="detail-item">
                        <label>University:</label>
                        <span>@Model.University</span>
                       
                    </div>
                    
                  
            </div>

            <div class="profile-right">
                <h3>More About Me! [@Model.Name]</h3>
                
                <div class="info-grid">
                    <div class="info-item">
                        <label>Phone</label>
                        <span>@Model.Phone</span>
                        
                    </div>
                    
                    <div class="info-item">
                        <label>Current Year</label>
                        <span>2024</span>
                        
                    </div>
                    
                    <div class="info-item">
                        <label>Experience</label>
                        <span>@Model.Brief</span>
                        
                    </div>
                    
                   
                </div>

              
            </div>
        </div>
    </main>
</div>